EXPRESSO_MYSQL_PORT=53306
EXPRESSO_REDIS_PORT=56379

# MongoDB 로컬 replica set. keyfile은 저장소 밖의 Docker volume에 생성됩니다.
EXPRESSO_MONGODB_DATABASE=expresso
EXPRESSO_MONGODB_ADMIN_USERNAME=admin
EXPRESSO_MONGODB_ADMIN_PASSWORD=expresso-admin
EXPRESSO_MONGODB_RUNTIME_USERNAME=expresso_runtime
EXPRESSO_MONGODB_RUNTIME_PASSWORD=expresso_runtime
EXPRESSO_MONGODB_MIGRATION_USERNAME=expresso_migration
EXPRESSO_MONGODB_MIGRATION_PASSWORD=expresso_migration
